<div *ngIf="hero">
    <h2>{{ hero.name | uppercase }} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
      <label for="hero-name">Hero name:</label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name">
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
    <div>
      <label id="new-hero">Hero name: </label>
      <input for="new-hero" #heroName />
    
      <!-- (click) passes input value to add() and then clears the input -->
      <button class="add-button" (click)="add(heroName.value); heroName.value=''">
        Add hero
      </button>
    </div>
</div>
